body{
    margin:0 auto;max-width:800px;line-height:1.5;padding:0 10px;text-align: justify;
}
h1,h2,h3{line-height:1.2;margin-top:1.5em;margin-bottom:0}
h1{font-size: 1.6em;font-family:sans-serif;}
h2{font-size: 1.1em;font-family:sans-serif;}
p{margin-top:0.8em;margin-bottom:0;}
a:link {text-decoration:none; color:#3F88C5;}
a:visited{color:#3F88C5;}
/*a:visited{color: #12A7E0;}*/
a:hover{color: rgba(255, 69, 0, 0.75);background: rgba(255, 60, 0, 0.04);}
footer{text-align: right;margin-top:25px;padding-bottom:25px;}

#about div{display:grid;}
#about #about-nav-panel img{width:163px;}
#about #about-nav-panel {float:left;margin-top:20px;margin-right:25px;}
#about #about-content h1 {margin-top:20px;margin-bottom:-0.2em;min-width: 225px;}
nav{margin-top:0.5em;}
nav ul{padding-left:0;margin:0;}
#about > div > div > p {margin:0}
#about > div > div {margin-top:0.8em;}
.project-item {clear:both;overflow:auto;margin-top:1.2em;}
.project-item img{width:150px;float: left;display: grid;margin-right: 12px;}
.project-item .project-text {display: grid;}
.project-item h2 {margin-top:0;}
.project-item p {margin-top: 0.5em;}
#teaching .offerings {margin-top: 0;}
#publications ul {list-style-type: none;padding-left: 28px;}
#publications li {position:relative;margin-top:0.8em;}
#publications label {position: absolute;left: -50px;width: 50px;text-align: right;}
#publications p {margin: 0;}
#publications p.title {font-style:italic;}